/*body{
    background-color: #F3F5FC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #49729b, #4c8196, #535ca0, #53aaaa);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG{
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}

.logo{
    margin: 20px 0 0 20px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    height: 100dvh;
}

.main_encriptar{
    width: 640px;
}

.texto{
    background-color: transparent;
    border: none;
    margin-top: 80px;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #0A3871;
    outline: none;
    height: 350px;
    overflow: hidden;
    resize: none;
}

::placeholder{
    color: #0A3871;
}

.parrafo{
    width: 229px;
    height: 18px;
    margin: 0;
    padding: 20px;
}

.main_admiracion{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}   

.main_admiracion img{
    display: none ;
}
.main_botones{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.botones{
    height: 50px;
    border-radius: 18px;
    background-color: #0A3871;
    text-transform: capitalize;
    width: 310px;
    padding: 0;
    cursor: pointer;
}

.boton2{    
    background-color: #D8DFE8;
}

button{
    border: none;
}

button:hover{
    border: 1px  gray;
    border-style:outset;
}

.main_encriptado{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.contenedor-imagen{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.parrafos_1{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: black;
}

.parrafos_2{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: black;
}

.texto2{
    outline: none;
    position: absolute;
    top: 0;
    margin-top: 25px;
    width: 85%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #0A3871;
    display: none;
    resize: none;
}

.botoncopiar{
    height: 50px;
    width: 50%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 38px;
    display: none;
}

@media(max-width:1110px){
    .logo{
        margin: 0;
        width: 100px;
    }
    .main_encriptar{
        width: 80%;
        margin: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 0;
        height: 100%;
    }
    .main_encriptado{
        width: 80%;
        min-height: 350px;
        margin: 40px auto;
        padding: 20px;
    }
    .texto{
        margin-top: 30px;
    }
    .main_botones{
        justify-content: space-around;
    }
    .texto2{
        margin-top: 20px;
        width: 90%;
        padding: 10px 0 0;
        height: 65%;
    }
    
    
}

@media(max-width:500px){
    .imagen{
        display: none;
    }
    .logo{
        width: 70px;
    }
    .main{
        height: 100%;
        margin-bottom: 20px;
    }
    .main_botones{
        display: block;
    }
    .texto{
        margin-top: 0;
    }
    .boton1{
        width: 100%;
    }
    .boton2{
        width: 100%;
        margin-top: 20px;
    }
    .botoncopiar{
        width: 90%;
        padding: 0;
    }
}